<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VoiceVoxPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VoiceVoxPlugin.Properties.Settings>
            <setting name="SpeakerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundDeviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitWhenFinished" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceVoxTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SpeedScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PitchScale" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntonationScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeScale" serializeAs="String">
                <value>1</value>
            </setting>
        </VoiceVoxPlugin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
